eShopWinForms/eShopWinForms/Connected Services/eShopServiceReference/eShopServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eShopServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eShopServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CatalogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableStock" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogBrand" nillable="true" type="tns:CatalogBrand" />
      <xs:element minOccurs="0" name="CatalogBrandId" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogType" nillable="true" type="tns:CatalogType" />
      <xs:element minOccurs="0" name="CatalogTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxStockThreshold" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnReorder" type="xs:boolean" />
      <xs:element minOccurs="0" name="PictureFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestockThreshold" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogItem" nillable="true" type="tns:CatalogItem" />
  <xs:complexType name="CatalogBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogBrand" nillable="true" type="tns:CatalogBrand" />
  <xs:complexType name="CatalogType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogType" nillable="true" type="tns:CatalogType" />
</xs:schema>